	html,
    body {
        font-family: "microsoft yahei";
        background-color: #efeff4;
    }
.clearfix:after{
    content: '';
    clear: both;
    display: block;
    height: 0;
    width: 0;
}
    header.mui-bar{
        background-color: #c9394a;
        color: #fff;
    }
    header .mui-title{
        color: #fff;
    }
    header .mui-icon{
        color: #fff;
    }
footer{
    padding:10px;
    background: #fff;
    text-align: center;
}
footer a{
    color: #333;
    padding: 0 10px;
    font-size: 16px;
}
    p {
        text-indent: 22px;
    }
    span.mui-icon {
        font-size: 14px;
        color: #007aff;
        margin-left: -15px;
        padding-right: 10px;
    }
    .mui-off-canvas-left {
        color: #fff;
    }
    .title {
        font-weight: bold;
        margin: 15px 15px 10px;
        background: #ecf0f3;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        padding: 0 20px 0 10px;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border-bottom: 1px solid #d5dce1;
        position: relative;
    }
    .title+.content {
        margin: 10px 15px 35px;
        color: #bbb;
        text-indent: 1em;
        font-size: 14px;
        line-height: 24px;
    }
    input {
        color: #000;
    }
    .mui-media p span{
        text-indent: 0;
    }
    .mui-media .mui-icon{
        font-size: 18px;  
    }
     .mui-segmented-control{
         border: 0;
     }
    .mui-segmented-control .mui-control-item.mui-active {
        color: #c9394a;
        border-bottom: solid 2px #c9394a;
        background-color: #fff!important;
    }
    .mui-segmented-control .mui-control-item {
        color: #333;
        border:0; 
        border-bottom: solid 1px #999;
        background-color: #fff!important;
    }
#offCanvasSide{
    background: url(../images/menuBg.jpg) no-repeat ;
}
#offCanvasSide .mui-table-view-inverted{
    background-color: transparent !important;
}
#offCanvasSide .title{
    border-bottom: 0;
}
#offCanvasSide .mui-table-view-cell span{
    padding-left: 10px;
    font-size: 24px;
    color: #fff;
}
#offCanvasSide .mui-table-view-inverted .mui-table-view-cell:after,#offCanvasSide .mui-table-view-inverted:after { 
  background-color: #fff;
    left: 0;
}
.mui-time{ 
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: -3px 3px 0 0;
  vertical-align: middle;
  background: url(../images/wap-sprite.png) no-repeat -26px -136px; 
}
.more{
    color: #c9394a;
}
.more span{
    margin-left: 5px;
}
.mui-radius{
    border-radius: 50%;
}
h1{
    font-size: 20px;
    margin: 20px 0 10px 10px;
}
.info .name{
    font-size: 20px;
}
.pdf-description{
    font-size: 18px;
    font-weight: normal;
    margin-top: 20px;
}
.mui-btn{
    vertical-align: middle;
}
.mui-btn span.mui-icon{
    color: #fff;
    margin-left: 0;
    font-size: 24px;
}
#reading{
    margin-right: 10px;
}
#backTop{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index:1;
    color: #999;
    font-size: 14px;
    width: 37px;
    height: 38px;
    background: url(../images/totop.png) no-repeat -37px 0;
}
#backTop:active {
  background-position: -1px 0;
}
.btn-inner-text {
  display: none;
  text-decoration: none;
  color: #8d8f92;
  text-align: center;
  position: relative;
  width: 35px;
  top: 37px;
  left: 1px;
  line-height: 15px;
  font-family: "微软雅黑","宋体",Arial;
  font-weight: 700;
}